// GRID
$grid-width: 100%;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;

//Margins
$margin-small: .8rem ;
$margin-medium: 2.4rem ;
$margin-big: 4rem ;

//FONT SIZES
$font-small: 1.7rem;
$font-medium: 2.4rem;
$font-big: 3rem;

//COLORS
$light: #eeeeee;
$primary-light-color:#841E3D;
$primary-color: #641E3D;
$primary-dark-color: #441D3D;
$secondary-dark-color: #241D3D;
$secondary-color:#061D3D;