.dashboard {
  padding: 2rem;
  &__links{
	padding-bottom: 2rem;
	&__list{
	  &--item{
		&:not(:first-child){
		  margin: 0 5rem;
		}
		&:first-child{
			border-bottom: solid 1px $secondary-dark-color;
		}
		color: $secondary-dark-color;
		border-bottom: solid 1px $light;
		display: inline-block;
		font-size: 2rem;
		text-decoration: none;
	  }
	}
  }
  &__top{
	display: flex;
	justify-content: space-between;
	padding-bottom: 3rem;
	&__header{
	  color: $dark;
	  font-size: 3.2rem;
	}
	&__select{
	  display: flex;
	  flex-direction: column;
	  justify-content: end;
	  &__inputs{
		display: flex;
		justify-content: space-around;
		&--search{
		  padding: 0 2rem;
		  &-input{
			color: $dark;
			padding: .8rem 2rem;
			border: none;
			border-bottom: .1rem solid $secondary-color;
		  }
		}
		&--sort{
		  &-select{
			padding: .8rem 2rem;
			&--option{
			}
		  }
		}
	  }
	}
  }
}
.section__todos{
  //overflow-y: scroll;
  box-shadow: 0 .5rem 1rem rgba($dark, .8);
  padding: 2rem;
  height: 75vh;
  overflow-y: auto;
  &__list{
	&--empty {
	  text-align: center;
	  font-family: Lato-Bold, serif;
	  font-size: 2rem;
	  color: #441D3D;
	}
	&__item{
	  border-radius: 5px;
	  padding: 1rem;
	  display: flex;
	  justify-content: space-between;
	  &:nth-child(odd){
		background-color: lighten($dark, 70%);
	  }
	  &--right{
		align-items: center;
		width: 15rem;
		display: flex;
		justify-content: space-between;
		&--date{
		  font-size: 1.2rem;
		  color: $dark;
		}
		&--edit{
		  text-decoration: none;
		  font-size: 1.2rem;
		  color: dodgerblue;
		  font-family: Lato-Bold, serif;
		}
		&--remove{
		  text-align: center;
		  width: 2.5rem;
		  height: 2.5rem;
		  font-size: 1rem;
		  font-family: Lato-Black, serif;
		  padding: .4rem;
		  background-color: red;
		  color: $light;
		  border: none;
		  border-radius: 10px;
		  transition: all .5s;
		  backface-visibility: hidden;
		  cursor: pointer;
		  clip-path: circle(50% at 50% 50%);
		  &:hover{
			box-shadow: 0 1rem 2rem rgba(black, .4);
			background-color: darken(red, 30%);
		  }
		}
	  }
	  &--left{
		&-input{
		  outline: none;
		}
		display: flex;
		justify-content: start;
		&--radio{
		  padding: 1rem;
		}
		&--title{
		  font-size: 1.4rem;
		  font-family: Lato-Bold, serif;
		  text-decoration: none;
		  color: #333333;
		}
	  }
	}
  }
}
.state{
  font-size: 1.4rem;
}